%iframe{:allowfullscreen => "true", :frameborder => "0", :height => "749", :mozallowfullscreen => "true", :src => "https://docs.google.com/presentation/d/e/2PACX-1vR5LXw8vMgG-vyVSk-9DaQ-uTm0e5JHwwdirYtqdsaMiu8ttLVDa1H0WFx7A25Zc9bGgqeESbcdF1FV/embed?start=false&loop=false&delayms=3000", :webkitallowfullscreen => "true", :width => "960"}
