%p
  Refugee Aid Serbia (RAS) is a non-profit organization whose mission is to assist refugees, displaced persons, and those affected by disasters on the basis of humanitarian principles and human rights. They work closely with the local community and other NGO's to provide education and humanitarian aid such as food, clothes, hygiene products, and blankets to the hundreds of thousands of asylum-seekers transiting Serbia.

%p
  In September 2017, Remote Year Veritas volunteered to help RAS organize their warehouse, sort donations, and teach classes at the Workshop. We successfully organized the warehouse and sorted through countless donations, placing each item into a clearly labeled box of similar items so that any piece of clothing, such as a "Women's shirt size medium" could be located easily and quickly. 

%p
  We also volunteered at the Workshop, teaching a variety of subjects from second grade math (telling time on analog clocks) and fifth grade spelling, to college math, computers, and biology. We also provided a welcoming environment aimed at fostering creativity and social skills.

%p
  Finally, we held a fundraiser that provided attendees with a better understanding of the global Refugee Crisis and ways we could all help. Through our fundraising efforts, we were able to purchase 170 hygiene packs to be distributed at the Obrenovac Refugee Center (currently housing over 750 people) and fund a distribution of shampoo packets to be used by a mobile shower operation in Šid (in collaboration with the NGO No Name Kitchen).

.slidesWrapper
  %iframe{:allowfullscreen => "true", :frameborder => "0", :mozallowfullscreen => "true", :src => "https://docs.google.com/presentation/d/e/2PACX-1vQxgrqGdmqfQTbgasbyp1iKrZKqUx4sYtB56cU7m5ArcGK4QZdYvRo6HmYf8XGga_0uCZBFLYUz8jMC/embed?start=false&loop=false&delayms=3000", :webkitallowfullscreen => "true"}