%p
  Most people start their day with a hot shower and the smell of a fresh cup of coffee. Now imagine you didn’t have access to hot water. How do you like cold showers? Imagine you didn’t have the ability to heat the water you use for everyday tasks like cooking or drinking. Cold brew anyone? 16% of the Argentinian population lacks access to water and have limited electricity. They not only start their day like that, but they live every single day like that.
 
%p
  Sumando Energías is a non-profit based in Buenos Aires, Argentina that aims to provide communities with sustainable water heaters so they have access to the warm water that we take for granted. Better yet, their engineers have developed water heaters by only using recycled materials and solar energy. They’ve created a 0 emissions water heater that also helps reduce the community’s carbon footprint, and we want to help their cause.

%p
  So how can you help? The Veracity Project has always believed in being transparent, and we’re looking for
  = link_to "donations", @currentDonationURL
  \. It takes $1000 to build one of these water heaters, including transportation, education and materials. We hope to build 5 of these water heaters, and all proceeds will go directly to supporting the initiative. Extra funds will be donated to the organization so others can follow in our footsteps. If you would like to make on going donations to Sumando Energías, please visit their
  = link_to "donation page", "https://www.sumandoenergias.org/#donations"
  \.
 
%p
  We’ll be on site starting on the November 18th, 2017, so donations will close on November 17th, 2017. Please help us by
  = link_to "donating", @currentDonationURL
  and spreading the word for this amazing cause. Small contributions from a large number of people can help create substantive change in communities around the world. Let’s change the world.
 
.videoWrapper
  %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/Rad2qrVe5oE?rel=0"}

%p
  And more information on
  = link_to "Sumando Energías", "https://www.sumandoenergias.org/"
  please visit their website.
