%p
  Sofia, Bulgaria.  A city with the lowest per capita income in the EU.  A city where educational and job opportunities are limited.  A city where youth often feel hopeless, with too much time and too little guidance. Trotoara Room for Angry People (T.R.A.P),  a non-profit organization in Sofia ready to provide positive and creative outlets to combat that hopelessness by encouraging music, dance, art, drama and other forms of positive creative expression.  They just need a place to do it.

%p
  (T.R.A.P.)  was established by founder Deyan Yankov to help channel the energies of Sofia’s youth. T.R.A.P. leased a property in central Sofia with plenty of room for a wide range of performance spaces. The building was basically uninhabitable without significant work.  The interior needed complete gutting and refurbishment, including electrical systems and roof repairs.

%p
  During 2017, Remote Year programs; Veritas, Kaizen and Balboa connected with T.R.A.P. to plan, raise funds and provide manpower for the first phase of the project, which included an initial gathering space.  All three groups provided planning assistance and manpower.  Veritas held a fundraising event inside the T.R.A.P. property that raised awareness and brought in over $1000, 100% of which was used for the outsourcing of improvements that required skilled labor.  Unskilled labor for demolition, debris removal and painting was provided by the Remote Year groups.  Paint was donated by a local vender.  The new electrical systems, as well as repair and restoration of flooring, were sourced locally.

%p
  In October 2017, T.R.A.P. opened the first 90 SM of meeting space for use and they are now up and running!  It’s an exciting time, but there is much more work to be done.  Several more phases work are needed to optimize the entire leased space to house all the creative activities envisioned.  Remote Year groups plan to continue working with T.R.A.P. to provide planning, fundraising and manpower assistance for these future phases.

.videoWrapper
  %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/dRlRbM8Ej3k?rel=0"}

%p
  Website:
  = link_to "Trotoara", "http://trotoara.com/"
%p
  Facebook:
  = link_to "T.R.A.P. - Trotoara Room for Angry People", "https://www.facebook.com/groups/1696477087046597/"

%p
  Media:
  = link_to "REMOTE YEAR IS THRIVING WITH POSITIVE IMPACT IN SOFIA, BULGARIA – BUILDING T.R.A.P. TOGETHER WITH TROTOARA", "http://trotoara.com/2017/08/25/remote-year-is-thriving-with-positive-impact-in-sofia-bulgaria-building-t-r-a-p-together-with-trotoara/?lang=en"