%p
  Casa Caridad works predominantly with the homeless in Valencia. They provide accommodation, meals and support services for men, women, and families. Casa Caridad has been operating non-stop for 111 years in Valencia, and its dining room offers over 200 meals a day, as well as temporary accommodation for more than 100 people and kindergarten services to 1-3-year-old kids. Seventy-five percent of the organisation's income comes from donations.
%p
  In July we visited one of the three Casa Caridad locations in Valencia. After touring the facilities, we played a game of football with the Casa Caridad team. This team was made up of both people living at the center and those who use the centre's services.  
%p
  In order to raise funds for Casa Caridad we ran a Beach Olympics event and continued to fundraise through the month at various events. Many members of our travelling group got involved raising $220. These funds were donated to the centre to continue the great work that they do.
%p
  = image_tag("initiatives/casa_cadrid.jpg")