.section.iniaitives#section-1
  .section-header.header
    Initiatives
  .section-text
    #initiatives-carousel.carousel.slide.initiatives-carousel{"data-ride" => "carousel"}
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#initiatives-carousel"}
      .carousel-inner{:role => "listbox"}
        .item.active
          = image_tag("TRAP.png")
          .carousel-caption
            %a{:href => @currentDonationURL, :target => "_blank"}
              .header
                T.R.A.P. - Trotoara Room for Angry People
              .subtitle
                Sofia, Bulgaria
      %a.left.carousel-control{"data-slide" => "prev", :href => "#initiatives-carousel", :role => "button"}
        %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
        %span.sr-only Previous
      %a.right.carousel-control{"data-slide" => "next", :href => "#initiatives-carousel", :role => "button"}
        %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
        %span.sr-only Next

    %p The Veracity Project uses the following criterion to choose which initiatives are supported in each community we travel to:
    %ul
      %li
        Leveraging local contacts to identify key initiatives in the community
      %li
        Greatest amount of positive impact we could achieve in a month’s time
      %li
        Based on manpower
      %li
        Donations
      %li
        Technical expertise
      %li
        In search of scalable projects where we can help no matter the level of donations.
