.section.iniaitives#section-1
  .section-header.header
    Initiatives
  .section-text
    #initiatives-carousel.carousel.slide.initiatives-carousel{"data-ride" => "carousel"}
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#initiatives-carousel"}
      .carousel-inner{:role => "listbox"}
        .item.active
          .media
            = image_tag("TRAP.png")
          .text
            %a{:href => @currentDonationURL, :target => "_blank"}
              .header
                T.R.A.P. - Trotoara Room for Angry People
              .subtitle
                Sofia, Bulgaria
            .content
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut accumsan pharetra purus et tempor. Phasellus id diam sed tortor scelerisque pharetra. Praesent blandit non dui non hendrerit. Pellentesque consectetur consectetur erat ut rutrum. Integer sit amet mi a velit tristique accumsan. Curabitur consequat posuere porttitor. Curabitur molestie bibendum tortor eu aliquet. Curabitur id arcu hendrerit, aliquet mauris in, facilisis sem. Sed a lacus eu sapien aliquet porta. Sed tempor libero sed libero bibendum consequat non sed tellus. Mauris in placerat massa. Mauris sed purus euismod, ornare dui sit amet, placerat diam.
      %a.left.carousel-control{"data-slide" => "prev", :href => "#initiatives-carousel", :role => "button"}
        %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
        %span.sr-only Previous
      %a.right.carousel-control{"data-slide" => "next", :href => "#initiatives-carousel", :role => "button"}
        %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
        %span.sr-only Next

    %p The Veracity Project uses the following criterion to choose which initiatives are supported in each community we travel to:
    %ul
      %li
        Leveraging local contacts to identify key initiatives in the community
      %li
        Greatest amount of positive impact we could achieve in a month’s time
      %li
        Based on manpower
      %li
        Donations
      %li
        Technical expertise
      %li
        In search of scalable projects where we can help no matter the level of donations.


