.container-fluid
  .hero-section
    = image_tag("hero.png")
    .hero-text
      .hero-section-title.header
        Inspiring change in our communities
      .hero-section-subtitle
        A community of volunteers and remote professionals that empower communities to make a positive impact
  %nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "#"}
          = image_tag("logo.png")
      #navbar.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right{ :role=>"tablist" }
          %li
            %a{:href => "#section-1"} Initiatives
          %li
            %a{:href => "#section-2"} About Us
          %li
            %a{:href => "#section-3"} FAQ
          %li.donate
            = link_to "Donate", "https://www.generosity.com/community-fundraising/t-r-a-p-veracity-project-sofia-bulgaria", :target => "_blank"
.container-fluid
  .row
    .section.iniaitives#section-1
      .section-header.header
        Iniatitives
      .section-text
        #initiatives-carousel.carousel.slide.initiatives-carousel{"data-ride" => "carousel"}
          %ol.carousel-indicators
            %li.active{"data-slide-to" => "0", "data-target" => "#initiatives-carousel"}
          .carousel-inner{:role => "listbox"}
            .item.active
              = image_tag("TRAP.png")
              .carousel-caption
                %a{:href => "https://www.generosity.com/community-fundraising/t-r-a-p-veracity-project-sofia-bulgaria", :target => "_blank"}
                  .header
                    T.R.A.P. - Trotoara Room for Angry People
                  .subtitle
                    Sofia, Bulgaria
          %a.left.carousel-control{"data-slide" => "prev", :href => "#initiatives-carousel", :role => "button"}
            %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
            %span.sr-only Previous
          %a.right.carousel-control{"data-slide" => "next", :href => "#initiatives-carousel", :role => "button"}
            %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
            %span.sr-only Next



        %p The Veracity Project uses the following criterion to choose which initiatives are supported in each community we travel to:
        %ul
          %li
            Leveraging local contacts to identify key initiatives in the community
          %li
            Greatest amount of positive impact we could achieve in a month’s time
          %li
            Based on manpower
          %li
            Donations
          %li
            Technical expertise
          %li
            In search of scalable projects where we can help no matter the level of donations.

    .section.aboutus#section-2
      .section-header.header
        About us
      .section-text
        %p The Veracity Project is made up of volunteers who believe in making a tangible positive social impact in an affordable, transparent way.
        %p We are a community of remote professionals that are travelling together for a year, coming from different countries and backgrounds. Our commonality was our commitment to expand our perspectives outside of our existing lives, embarking on this journey to learn more about each other and develop additional compassion for the world.
        %p In the first month together, we recognized a common interest in supporting the local communities that welcomed us for a month at a time. We have a unique opportunity with our diverse skills to form a problem solving community that is focused on creating significant changes in a short amount of time.
        %p The Veracity Project focuses on delivering these changes to the local groups with minimal overhead by tapping into the expertise found in our remote community. You can help us with each initiative through a donation and by sharing our efforts with your social networks. We think it’s important that you know exactly what your money has been used for and the difference it has made. Once completed, we will send you a video to illustrate the impact we were able to make together on these local communities.
        %p Small contributions from a large number of people will help create substantive change in communities around the world. If you share our vision, please join us in this movement.

    .section.faq#section-3
      .section-header.header
        FAQ
      .section-text
        %ul
          %li
            %a{ :role => "button", "data-toggle" => "collapse", :href => "#FAQ1", "aria-expanded" => "false", "aria-controls" => "FAQ1"}
              What is the Veracity Project?
            #FAQ1.collapse
              %p The Veracity Project is the name of our charity project that aims to utilize the small contributions from caring individuals like yourself to create substantive change in communities around the world.
              %p Put more concretely, we choose initiatives located in different parts of the world that will help the local community in a significant, tangible and sustainable way. Each initiative, will begin with a video and explanation as to what the community needs and how we plan to help. With your donations, we will then execute our plans and document the progress. The end result will be a short documentary that summarizes how your contributions were used and created substantive change in the community.
          %li
            %a{ :role => "button", "data-toggle" => "collapse", :href => "#FAQ2", "aria-expanded" => "false", "aria-controls" => "FAQ3"}
              Why was the name “Veracity Project” chosen?
            #FAQ2.collapse
              %p Early on in this project, we challenged each other to identify three values that would guide and remind us of our core principles. We chose a sea of different words, but there was a commonality in our choices – we were all committed to being honest, transparent, and dependable. This habitual honesty led us to choose the word “veracity” because it both embodies this sentiment as well as presents it in a fierce way that mirrors our passion for the project.
          %li
            %a{ :role => "button", "data-toggle" => "collapse", :href => "#FAQ3", "aria-expanded" => "false", "aria-controls" => "FAQ3"}
              Who is involved in the Veracity Project?
            #FAQ3.collapse
              %p The Veracity project is composed of two parts: you and us. The most important, and the heart of the project resides in your support. You are the heart of the Veracity project because without your help and compassion, we wouldn’t be able to do any of this.
              %p On the flip side, we are the hands and legs of the project. We are a community of traveling remote professionals with varied backgrounds and skills who have decided to prioritize community service as a way to give back to each community we will be visiting. We recognized early on that our diverse number of backgrounds gives us a unique opportunity to tackle social issues and make tangible positive social impacts.
          %li
            %a{ :role => "button", "data-toggle" => "collapse", :href => "#FAQ4", "aria-expanded" => "false", "aria-controls" => "FAQ4"}
              What motivates the members of the Veracity Project?
            #FAQ4.collapse
              %p We quickly realized after meeting each other that we all have strong senses of giving back and contributing towards the ‘greater good.’ Although we were all very excited about traveling together and working remotely, there was a need to determine how we could continue our volunteer service in each location. Rather than just continuing to donate money to our favorite charities, we decided we were in a unique position to help multiple, lesser-known causes through our combined effort, skill sets, and social networks.
          %li
            %a{ :role => "button", "data-toggle" => "collapse", :href => "#FAQ5", "aria-expanded" => "false", "aria-controls" => "FAQ5"}
              How are individual initiatives selected?
            #FAQ5.collapse
              %p We take pride in each initiative we select, and so do a fair amount of research before committing to a given plan. Since we are only living in each city for a given month, we want to be sure we select something that we can complete in that timeframe. We do some research online and speak with locals to choose our initiative before arriving in each city so we can get to work as soon as we arrive. Some of the criteria we rely on include:
              %ul
                %li Well-defined and tangible result(s)
                %li Significant impact for the local community
                %li The ability to be accomplished in one month
                %li Sustainability
                %li The need for us to get our hands dirty (we’re not just a fundraising mechanism)
                %li The ability to track our monetary spend (so we can share with our donors)
                %li Clear communication with our local liaisons (so nothing gets lost in translation)
          %li
            %a{ :role => "button", "data-toggle" => "collapse", :href => "#FAQ6", "aria-expanded" => "false", "aria-controls" => "FAQ6"}
              How often are new initiatives selected?
            #FAQ6.collapse
              %p We are currently traveling to a new location each month. Our plan is to select a new initiative in every location, assuming we identify a clear, tangible, sustainable way that we can make a significant impact in a relatively short amount of time (during the month we are living in that specific location).
          %li
            %a{ :role => "button", "data-toggle" => "collapse", :href => "#FAQ7", "aria-expanded" => "false", "aria-controls" => "FAQ7"}
              How is Veracity Project unique?
            #FAQ7.collapse
              %p One of the best things about Veracity Project is that EVERYONE involved is a 100% unpaid volunteer – eliminating the large (+8%) overhead skimmed off the top of your donations by most charities and crowd-funding solutions. 
              %p Also, we are committed to doing this charitable work regardless of receiving any donations. That being said, we realized many people WANT to help, but feel either they can’t afford it or don’t fully trust how their donation will be spent. We acknowledge both these things, and have provided a platform for you to donate as much or as little as you would like (even skipping one cup of coffee one week and donating that dollar amount to one of our initiatives will help tremendously) and receive an itemized list of where each dollar raised has been spent. Plus, if you have any questions, we’re always happy to hear from you!
          %li
            %a{ :role => "button", "data-toggle" => "collapse", :href => "#FAQ8", "aria-expanded" => "false", "aria-controls" => "FAQ8"}
              How can I see where my money went?
            #FAQ8.collapse
              %p We aim to show you exactly what your donation helped to achieve within a month of the campaign starting. On veracityproject.org, you will be able to see a breakdown of how each cent/penny was spent, and the total amount we managed to raise. In the rare event that there are excess funds remaining after each initiative has concluded, we will donate all remaining funds to either the charity we were supporting or an organisation that will continue the support we were providing.
          %li
            %a{ :role => "button", "data-toggle" => "collapse", :href => "#FAQ9", "aria-expanded" => "false", "aria-controls" => "FAQ9"}
              How can I find out more about a past initiative?
            #FAQ9.collapse
              %p Please take a look at our Initiatives section to see more about our past, current, and future initiatives. We will share updates on our success at the completion of each project, so you can see for yourself what we raised, what we accomplished, and how it helped (or will continue to help) the local community. For additional follow-up information about a specific initiative, please email us at info@veracityproject.com.
          %li
            %a{ :role => "button", "data-toggle" => "collapse", :href => "#FAQ10", "aria-expanded" => "false", "aria-controls" => "FAQ10"}
              How can I help?
            #FAQ10.collapse
              %p Although a donation (no matter how small) is most helpful, there are other ways to help, too! Please share our website, Instagram account, etc. to as many of your friends and family to help us raise awareness. The more people we reach the better.
    .footer