.section.privacypolicy#section-1
  .section-header.header
    Terms and Conditions
  .section-text
    %p.bolder This website (www.VeracityProject.org) is made available by The Veracity Project. All use of this website is subject to the following terms and conditions.
    %p This website is not intended for use by anyone under eighteen (18) years of age; Any communication or information submitted by anyone under the age of 18 will be deleted without further notice.
    %p If you do not agree with these terms and conditions, please do not access or use this website.  These terms and conditions may be changed by The Veracity Project at any time without notice.  In consideration of our permitting you to access and use the website, your use of the website constitutes your agreement to be bound by these terms and conditions, and your continued use after and any change to these terms and conditions constitutes your agreement to be bound by these terms and conditions as this website is for informational purposes only. It is for the sole use of its intended viewer.
    %p This website  is intended solely to provide information concerning The Veracity Project’s positive social impact initiatives.   
    %p While the information contained on this website is from sources believed reliable, The Veracity Project does not represent that it is accurate, timely or complete and it should not be relied upon as such.  All content is subject to change without notice. unless attributed to others, any opinions expressed are our current opinions only.
    %p The Veracity Project does not guarantee the confidentiality of any communications sent by email or through its website or otherwise by electronic means, including communications left in voicemail on organization telephones.
    %p The Veracity Project does not assume any responsibility for any consequences resulting from  the use of any of the information,  documents or  third-party websites contained on, referenced to, or linked to or from, this website.  The Veracity Project expressly disclaims any and all liability with respect to actions or omissions based on this website.  
